<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350581668716-0cbrhrn3630psqft3q4m1is1p3r5fal4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350581668716-0cbrhrn3630psqft3q4m1is1p3r5fal4</string>
	<key>API_KEY</key>
	<string>AIzaSyDasq1rVb8i_vdyxD_SWrb8WBqfjWFwjMg</string>
	<key>GCM_SENDER_ID</key>
	<string>350581668716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Home.VK-feed</string>
	<key>PROJECT_ID</key>
	<string>vkfeed-4d94a</string>
	<key>STORAGE_BUCKET</key>
	<string>vkfeed-4d94a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350581668716:ios:6da5659d7c687ef3b39149</string>
	<key>DATABASE_URL</key>
	<string>https://vkfeed-4d94a.firebaseio.com</string>
</dict>
</plist>